@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	background: linear-gradient(-90deg, #534ccf, #e63064, #640abf, #1fcfcf);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.container-fluid {
	padding-top: 20px;
}
#mainbox {
	max-width: 1000px;
	height: 2000px;
	border: 10px solid #f2e9e9;
	border-radius: 20px;
	margin: auto;
	box-shadow: 0px 0px 10px 5px grey;
	position: relative;
	overflow: auto;	
	background-color: white;
	/*background: linear-gradient(130deg, white, white, white, red);*/
}

#nav {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#nav ul {
	position: absolute;
	width: 100%;
	margin-bottom: 0;
	bottom: 3px;
	text-align: center;
	padding-left: 0px;
}

#nav ul li {
	display: inline-block;
}

#nav ul li a{
	color: white;
	width: 100px;
	display: inline-block;
	padding: 10px;
	background-color: blue;
	border-radius: 10px;
	text-decoration: none;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

.section1 {
	margin: 150px 80px 50px 80px;
}

.section1 > h1 {
	display: inline;
	font-family: 'Aclonica';
	font-size: 70px;
	font-weight: bold;
	color: #232c3d;
	border-bottom: 3px solid blue;
}

#pie {
	height: 100px;
	margin-bottom: 30px;
}

@keyframes falleffect{
	from {
		position: relative;
		top: -250px;
	}
	to{
		position: relative;
		top: 0px;
	}
}

#pie {
	animation-name: falleffect;
	animation-duration: 1s;
	animation-iteration-count: 1s;
}

@keyframes change-color {
	0% {
		border-bottom: 3px solid violet;	  
	}
	16% {
		border-bottom: 3px solid indigo;
	}
	32% {
		border-bottom: 3px solid blue;
	}
	48% {
		border-bottom: 3px solid green;
	}
	64% {
		border-bottom: 3px solid yellow;
	}
	80% {
		border-bottom: 3px solid orange;
	}
	100% {
		border-bottom: 3px solid red;
	}
}

.section1 > h1 {
	animation-name: change-color;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.section1 > p {
	position: relative;
	font-family: 'Fira Sans';
	font-size: 20px;
	top: -20px;
}

#quote p:nth-child(1) {
	margin: 30px 70px 0px 70px;
	text-align: center;
	font-style: italic;
	font-size: 18px;
}

#quote p:nth-child(2) {
	margin-left: 80%;
	margin-top: 5px;
	font-style: italic;
}

#quote {
	margin-top: 40px;
}

.section2 {
	margin: 0px 80px;
}

.section2 > h1 {
	font-family: 'Viga';
	padding: 10px; 
}

/****card design****/
/*
#tutorial li {
	display: inline;
	list-style: none;
}

#tutorial li a {
	position: relative;
	color: white;
	width: 30%;
	height: 150px;
	padding: 10px;
	background-color: blue;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	transform: rotate(15deg);
	}

#tutorial p {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}

#tutorial {
	margin-top: 50px;
	margin-left: 0px;
	text-align: center;
}
*/

#tutorial {
	margin-top: 50px;
	padding: 0px;
	text-align: center;
}

#tutorial li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

#tutorial li a {
	color: blue;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	}